/*prevent address bar hide on mobile
html {
    overflow: hidden;
}
body {
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}
*/

body {
  margin:0;
  background-color: #101010 ;
  font-family: 'Montserrat';
  color: #7E7E7E;
  overflow-x: hidden;
}
.h-100-projects {
    height: 100vh;
}
:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: 0;
}
.fixed-right {
    position: fixed;
    right: 0;
    top: 33%;
}
#projects > div.owl-dots > button > span {
    background-image: url(../images/project-dots.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 8px;
    width: 8px;
    position: relative;
    top: 0px;
}
#projects > div.owl-dots > button.owl-dot.active > span {
    background-image: url(../images/dots-projects.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 21px;
    width: 21px;
    position: relative;
    top: 6px;
}
nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.white {
    color: #fff;
}
ul.navigation {
    padding-inline-start: 0px; 
    justify-content: space-around;
}
.spacer {
  height: 100vh;
  background-color: #00f; 
}
.section-1{
  position: static;
  height: 100vh;
  width: 100vw;
  left:0;
  top:0;
  background-color:#000;
  color:#fff; 
}
.neg-space-handler {
    height:100vh;
}
#navnumber {
    color: #DA628A;
}
/* second section */
h2.scnd-section-text {
    font-size: 6vw;
    letter-spacing: -0.04em;
    text-transform: lowercase;
}
.your-agency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* third section */
.third-section {
    min-height: 40vw; 
    background-image: url(../images/thecreativeworkco.svg);
    background-position: calc(100% - 0px) calc(100% - 0px);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.third-section h3 {
    font-size:3vw;
    color: #555454;
}
.third-section.padding {
    padding: 6vw 10vw 9vw;
}
.third-section p {
    width:96%;
    font-size: 18px;
    line-height: 28px;
    color: #555454;
}
.third-text {
    padding-top: calc(6vw + 1.2rem);
}

/* fourth-section */

.fourth-section {
    background-color: #121212;
}
.fourth-section h2 {
    font-size: 6vw;
}
.fourth-bg-text h2 {
    font-weight: bold;
    font-size: 3vw;
    line-height: 4.5vw;
    position: relative;
    top: 48%;
    color: #555454;
}

#arrow-wrapper {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .arrow-border {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .arrow {
    position: absolute;
    bottom: 24px;
    width: 20px;
    height: 20px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    right: 19px;
  }
  
  .down {
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }  
    
  .pulse {
      border-radius: 50%;
      height: 57px;
      width: 57px;
      position: absolute;
      margin: 0;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
      opacity: 0.0;
      box-shadow: inset 0 0 8px 0px #fff;
      animation-delay: 2s;
  }

  .pulse::before, .pulse::after,
  .down::before, .down::after,
  .arrow::before, .arrow::after,
  .pularrow-borderse::before, .arrow-border::after,
  #arrow-wrapper::before, #arrow-wrapper::after
  {
        box-sizing: unset !important; 
    }
  
  @keyframes pulsate {
    0% {
      transform: scale(0.9, 0.9);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      transform: scale(1.3, 1.3);
      opacity: 0;
    }
  }

/* fifth section portfolio*/

.section-portfolio{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left:0;
  top:42px;
  background-color:#000;
  color:#fff; 
  
}
.s2c1 {
  background-color:#000;
  width:50vw;
  min-height:100vh;
  position: relative;
}
.curtain {
  background-color: #000; 
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  min-height: 0vh;
}
.frejm {
  position:absolute;
  display: flex;
  width:100vw;
  height:100vh;  
  top:0;
}
#frejm1{
  left:0;
}
#frejm2{
  position:absolute;
  display: flex;
  left:80vw; 
}
#frejm2 > div.s2c1.bg-white > img {
    height: 60vh;
    object-fit: cover;
}
#frejm2 > div.s2c1.bg-white > div {
    background-image: url(../images/banner-transparent.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
}
#frejm3{
    position:absolute;
    display: flex;
    left:80vw; 
}
.frame1-text-padd {
    padding: 6vw !important;
}
.frame1-text-padd-2 {
    padding: 5vw 5vw 0 5vw !important;
    flex-grow: 1;
    background-image: url(../images/bg-baner-beige.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.frame2-text-padd {
    padding: 4rem 8rem !important;
}
.w-lg-75 {
    width: 75%;
}
.w-lg-60 {
    width: 60%;
}
.pre-wrap-sm {
    white-space: normal;
}
/* sixth section*/

.sixth-section {
    /*
    background-image: url(../images/banner_shadow_black.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; */
    height: 60vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}
.sixth-section h2 {
    font-size: 6vw;
}

/* footer */
.bg-custom-dark {
    background-color: #0A0A0A;
}
h1.footer-xxl {
    font-weight: bold;
    font-size: 9vw;
    line-height: 13vw;
    letter-spacing: -0.04em;
    padding-bottom: 1rem;
}
.pb-footer-top {
    padding-top: 1rem;
}
.pb-footer-bottom {
    padding-bottom: 5vw;
}
.btn-custom{
    color: #fff;
    background-position: 0.75rem;
    padding-right: 1rem;
}
p.footer-city {
    font-size: 1rem;
    line-height: 1.2rem;
}
a.footer-link {
    color: #555454;
}
a.footer-link:hover {
    text-decoration: none;
}
.footer-emails a {
    font-size: max(0.8em, 0.93vw);
}
.text-align-cl {
    text-align: center;
}
p.footer-p-25 {
    font-size:2.5vw;
}
.footer-h4 {
    font-size:4.5vw;
}
/* SERVICES */

/* second-section-services */

.second-section-services {
    min-height: 66vh;
    padding-left: 6vw;
    padding-right: 6vw;
}
.second-section-services h2 {
    font-size: 2.8vw;
    color: #555454;
}

/* third-section-services */

.third-section-services {
    padding: 5.5vw 10vw;
}
.third-section-services-heading {
    padding: 5.5vw 0vw 0vw 10vw;
}
.bg-services-dark-heading-1 {
    /*
    background-image: url(../images/the-creative-black.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain; */
    height: 14.5vw;
}
.third-section-services-heading h2 {
    font-size: 3vw;
}
.bt-pink {
    /*margin-top: 1rem;*/
    margin-bottom: 2rem;
    margin-left:0 !important;
    /*width: 96%;
    text-align:left !important;*/
}
.bt-grey {
    /*margin-top: 1rem;*/
    margin-bottom: 2rem;
    margin-left:0 !important;
}

/* fourth-section services */

.fourth-section-services-1 {
    background-image: url('../images/the-creativework-co-siva.png');
    background-repeat: no-repeat;
    background-position-x: -4rem;
    background-position-y: 4.5vw;
    background-size: 110%;
}
.fourth-section-services-2 {
    padding: 0vw 10vw 5.5vw 10vw;
}
.fourth-bg-text {
    padding: 5.5vw 0vw 5.5vw 10vw;
    height: 14.5vw;
}

/* fifth-section services */

.fifth-section-services {
    padding-top: 5.5vw;
    padding-bottom: 5.5vw;
    /*
    background-image: url(../images/he-creativew.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    */
}

/* LEGAL, PRIVACY */

/* first-section-legal */

.first-section-legal {
    min-height: 100vh;
    padding-top: 80px;
}
.first-section-legal h1  {
    font-size: 7.8vw;
}
.first-section-legal a:hover {
    text-decoration: none;
    color: #fff;
}
.px-md-5 {
    padding-right: 3rem;
    padding-left: 3rem;
}
/* second section legal */

.section-legal-0 {
    min-height: 100vh;
    background-color: #fff;
    color: #000;
    /*padding-top: 6.4vw;   */ 
}
.section-legal-1 {
    min-height: 100vh;
    background-color: #FAFAFA;
    color: #000;
    /*padding-top: 6.4vw;   */ 
}
.section-legal-2 {
    /*min-height: 100vh;*/
    background-color: #000;
    color: #fff;
    padding-top: 1vw; 
    padding-bottom: 1vw; 
}
.section-legal-0 h2,
.section-legal-1 h2,
.section-legal-2 h2 {
    font-size: max(3vw, 1.5rem);;
}

/* third section legal */

.third-section-legal {
    min-height: 100vh;
}
.third-section-legal h2 {
    font-size: max(3vw, 1.5rem);;
}
.bg-custom-grey {
    background-color: #FAFAFA;
}

/* fourth section legal */

.fourth-section-legal {
    min-height: 100vh;
}
.fourth-section-legal h2 {
    font-size: 3vw;
}
@media (max-width:1600px) {
    body {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 767px) and (max-width: 1025px) {
    .h-100-projects {
        height: 60vh !important;
    }
    img.project-img-fit {
        height: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .s2c1 {
        width:100vw;
      }
      .w-lg-75 {
        width: 98%;
    }
    .w-lg-60 {
        width: unset;
    }
    
}

@media only screen and (max-width: 769px) {
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .px-md-5 {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    a.footer-link {
        color: #555454;
        font-size: small;
    }
    #navnumber {
        font-weight: bold;
    }
    .h-100-projects {
        height: 92vh;
    }
    .frame1-text-padd-2  {
        flex-grow: unset;
        background-image: url(../images/cre-banner-2.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
    .frame1-text-padd {
        padding: unset;
    }
    .fourth-section {
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    ul.navigation {
        padding-inline-start: 0px; 
        justify-content: unset;
    }
    .frame1-text-padd h1, 
    .frame1-text-padd-2 h1, 
    .frame2-text-padd h1, 
    .fourth-section h2, 
    .second-section-services h2,
    .third-section-services h2,
    .fourth-bg-text h2 {
        font-weight: bold;
        font-size: calc(1.75rem + 6 * ((100vw - 320px) / 680));
    }
    .sixth-section h2 {
        font-size: calc(2.1rem + 6 * ((100vw - 320px) / 680));
    }
    .fourth-bg-text h2 {
        line-height: calc(2rem + 6 * ((100vw - 320px) / 680));
        font-size: calc(1.75rem + 6 * ((100vw - 320px) / 680));
    }
    h2.scnd-section-text {
    font-weight: bold;
    font-size: calc(2.3rem + 6 * ((100vw - 320px) / 680));          
    }      
    .frame1-text-padd, .frame2-text-padd  {
    padding: 4rem 2rem 1rem !important;
    }
    .frame1-text-padd-2 {
        padding: 3rem 2rem 1rem !important;
    }
    .pt-sm-5 {
        padding-top: 1.5rem;
    } 
    .pt-sm-6 {
        padding-top: 3rem;
    }  
    .pb-sm-5 {
        padding-bottom: 1.5rem; 
    } 
    .first-section-legal.legal h1 {
        padding-bottom: 3rem;
    }
    nav {
        padding-left: 2.33%;
        padding-right: 2.33%;
        font-size: 12px;
        line-height: 14px;
    }
    .nav-link {
        padding: 0.5rem;
    }
    .positioning-sm {
        margin-left: 2.2rem;
    }
    .p.footer-city {
        padding-top: 3rem;
    }
    .padd-sm-left {
        padding-left: 1.5rem;
    }
    .padd-sm-top {
        padding-top: 1.5rem;    
    }
    .form-control {
        height: calc(6rem + 0.75rem + 2px);
    }
    .text-align-cl {
        text-align: left;
    }
    .pt-sm-3rem {
        padding-top: 3rem;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
    }
    #contact {
        padding-top: 5vw;
    }
    .footer-p-25 {
        font-size: 18px;
        line-height: 22px;
    }
    h4.footer-h4 {
        font-size: 32px;
        line-height: 39px;
    }
    h1.footer-xxl {
        font-size: 66px;
        line-height: 80px;
        /*padding-bottom: 3rem;*/
    }
    .pb-footer-top {
        padding-top: 1rem;
    }
    .your-agency {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width:96%;
    }
    .weight-ch {
        font-weight: normal !important;
    }
    .serv-your {
        font-size: calc(1.8rem + 6 * ((100vw - 320px) / 680));
        line-height: calc(2rem + 6 * ((100vw - 320px) / 680));
    }
    .fourth-section-services-2 {
        margin-top: -1px;
    }

    .neg-space-handler {
        height:60vh;
    }

    .wo {
        height: 22vh;
        width: 100vw;
        margin-left: -2.2rem;
        background-image: url(../images/wo.png);
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
      .third-section {
          background-image: unset;
      }
      .footer-emails a {
        font-size: max(0.8em, 0.93vw);
    }
    .footer-emails a {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }
    p.footer-city {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }   
    form {
        padding-bottom: 3rem;
    }   
    .sixth-section {
        justify-content: space-around;
        /*background-image: url('../images/banner_black_ewo.png');*/
    }
    .third-section-services-heading h2 {
        font-size: 2.7rem;
        line-height: 8vw;
    }
    .fourth-bg-text h2 {
        font-size: 2.7rem;
        line-height: 6vw;
        position: relative;
        top: 8%;
    }
    .fourth-bg-text {
        background-image: unset;
        height: 100%;
    }
    .we-love, .we-do {
        background-image: unset;  /**/
        height: unset;
    }
    .bg-services-dark-heading-1 {
        background-image: unset;
        height: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .pre-wrap-sm {
        white-space: pre-wrap;
    }
    .fourth-bg-text {
        background-image: unset;
        height: 100%;
    }
    .we-love {
        background-image: url(../images/crea-banner-mob.png);
        background-repeat: no-repeat;
        background-position-x: -3vw;
        background-position-y: -8vh;
        background-size: 103%;
        height: unset;
    }
    .we-do {
        background-image: url('../images/cre-grey.png');  /**/
        background-repeat: no-repeat;
        background-position-x: 10vw;
        background-size: contain;
        height: 56vw;        
    }
    .we-do h2 {
        position: relative;
        top: 48%;
    }
    .px-sm-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .fourth-bg-text h2 {
        font-size: 2.7rem;
        line-height: 10vw;
        position: relative;
        top: 8%;
    }
    .third-section-services-heading h2 {
        font-size: 2.7rem;
        line-height: 17vw;
    }
    .third-section.padding {
        padding: 0vw 10vw 9vw;
    }
}
@media only screen and (max-width: 567px) {
    .second-section-services h2 {
        font-size: calc(1.8rem + 6 * ((100vw - 320px) / 680));
        line-height: calc(2rem + 6 * ((100vw - 320px) / 680));
    }
    .navigation a:not(:first-child) {
        padding-left:0;
        padding-right:0.2rem;
    }
    body {
        font-size: 14px;
        line-height: 22px;
    }
    .third-section h3 {
        font-size: 1.5rem;
    }
    .third-section p {
        width: unset;
        font-size: 14px;
        line-height: 22px;
    }
    .third-text {
        padding-top: unset;
    }
    .frame1-text-padd, .frame2-text-padd {
        padding: 3rem 2rem 1rem !important;
    }
    .sixth-section {
        min-height: 60vh;
    }
    .footer-emails {
        background-color: #101010 ;
        padding-top:3rem;
        padding-bottom: 3rem;
        margin-bottom: -3rem;
    }
} 

@media only screen and (max-width: 372px) {
    a.footer-link {
        font-size:10px;
    }
}
@media only screen and (max-width: 361px) {
    .frame1-text-padd {
        padding: 1rem 2rem 1rem !important;
    }
    .pt-sm-6 {
        padding-top: 1rem;
    }
    h4.footer-h4 {
        font-size: 30px;
        line-height: 39px;
    }
    .second-section-services {
        min-height: 76vh;
    }
}
/* nav color change */
.lite{
    background-color: transparent;
    color: white;
}
.dark{
    background-color: transparent;
    color: black;
}
#menu a { 
    color: inherit;
    transition: color 0.3s;
}