<div class="bg-custom-dark">
<div class="container-fluid" id="contact">
    <div class-"row">
        <div class="col text-md-center px-0">
            <h1 class="footer-xxl" style="color:{{boja}}"
                data-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
            >
            <span class="d-md-none">the</span>
            </h1>
            <h1 class="footer-xxl" style="color:{{boja}}"
                data-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
            >creative</h1>
            <h1 class="footer-xxl" style="color:{{boja}}"
                data-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
            >
            <span class="d-md-none">work co.</span>
            </h1>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col text-align-cl">
            <p class="white pt-sm-3rem" class="footer-p-25"
                style=""
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"                    
            >We are ready to write yet anoher succuss story. Are you?</p>
            <h4 class="footer-h4 pb-footer-bottom  pb-footer-top font-weight-bold white"
                style=""
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
            >Start <span class="d-none d-md-inline">your</span> project</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 offset-lg-4 align-items-center justify-content-center text-center">
            <form>
                <div class="form-row pb-footer-bottom">                
                    <input type="text" class="form-control py-3" placeholder="name"
                    data-bottom="opacity:0; transform: translate3d(-20px, 20px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >            
                    <input type="text" class="form-control py-3" placeholder="email"
                    data-bottom="opacity:0; transform: translate3d(-20px, 20px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"                     
                    >                    
                    <div class="form-group w-100 py-3">
                        <label for="message"></label>
                        <textarea class="form-control" id="message" rows="3" placeholder="message"
                            data-bottom="opacity:0;"
                            data--10p-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                            data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-custom"
                        data-bottom="opacity:0;"
                        data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                        data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >send<img src="images/Ellipse 2.png" class="px-3" style="height: 1.2rem"

                    /></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid footer-emails">
    <div class="row" >
        <div class="col-12 col-md-4 col-xl-2 offset-xl-1 padd-sm-left padd-sm-top"
                data-50-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
        >
            <p class="footer-city white font-weight-bold">in Munich</p>
            <a href="mailto:muc@thecreativework.co" class="footer-city white">muc@thecreativework.co </p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 padd-sm-left padd-sm-top"
                data-50-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
        >
            <p class="footer-city white font-weight-bold">in Cologne</p>
            <a href="mailto:muc@thecreativework.co" class="footer-city white">cgn@thecreativework.co </p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 padd-sm-left padd-sm-top"
                data-50-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
        >
            <p class="footer-city white font-weight-bold">worldwide</p>
            <a href="mailto:muc@thecreativework.co" class="footer-city white">aloha@thecreativework.co </p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 padd-sm-left padd-sm-top"
                data-50-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
        >
            <p class="footer-city white font-weight-bold">in Belgrade</p>
            <a href="mailto:muc@thecreativework.co" class="footer-city white">beg@thecreativework.co </p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 padd-sm-left padd-sm-top"
                data-50-bottom="opacity:0; transform: translate3d(0px, 80px, 0);" 
                data-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
        >
            <p class="footer-city white font-weight-bold">in Dubai</p>
            <a href="mailto:muc@thecreativework.co" class="footer-city white">dxb@thecreativework.co </p>
        </div>
        
    </div>
</div>

<div class="container-fluid bg-white mt-5">
    <div class="row py-3">
        <div class="col-5 col-md-2 offset-md-7">
            <a href="legal-notice" class="footer-link font-weight-bold d-inline">
                Impress 
                <img src="images/footer-link.png" class="d-inline px-md-3"/>
            </a>
        </div>
        <div class="col-7 col-md-3">
            <a href="privacy-policy" class="footer-link font-weight-bold">
                Privacy Policy
                <img src="images/footer-link.png" class="d-inline px-md-3"/>
            </a>
        </div>
    </div>
</div>
</div>