{% extends "base.twig" %}

{% block content %}

<div id="skrollr-body">

{% include 'intro.twig' %}

<!-- second section -->
    <div class="container-fluid d-md-flex flex-column" style="height: 100vh;" id="agency"
            data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="your-agency mx-auto" style="height: 100%;">
            <h2 class="scnd-section-text weight-ch white" 
                data-bottom-top="opacity[swing]:0; transform:translateY(150px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0">
                Your agency for
            </h2>
            <h2 class="scnd-section-text white font-weight-bold"
                data-bottom-top="opacity[swing]:0; transform:translateY(200px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0;">
                branding <br class="d-md-none">
                and <br class="d-md-none">
                web design
            </h2>
        </div>
    </div>
<!-- end second section -->

<!-- third section -->
    <div class="third-section padding container-fluid bg-white d-flex flex-column justify-content-center"  style="color: #555454;"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark">
        <div class="row align-items-top" style="">
            <div class="col-12 col-md-6">
                <div class="my-auto wo d-flex flex-column justify-content-center">
                    <h3 class="positioning-sm py-md-4 pt-sm-5"
                        data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                        data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    
                        >
                            Hello, we’re <br> 
                        <b
                        data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                        data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                        >
                            the creativework co.
                        </b> 
                    </h3>
                </div>
            </div>
        </div>
        <div class="row align-items-top" style="">
            <div class="col-12 col-md-6">
                <div class="my-auto">
                <p
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    We are a digital marketing agency, passionate about bringing brands to live, creating websites and developing communication strategies for our clients across the globe.
                </p>
                <p
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    Our collective has fulfilled projects in places like  
                    <span
                        data--25p-bottom="color: rgb(126, 126, 126);" 
                        data--40p-bottom="color: rgb(218, 98, 138)"  
                        >Abu Dhabi, Belgrade, Cologne, Den Haag, Doha, Dubai, London and Seoul.
                    </span>
                </p>
                </div>
            </div>
             <div class="col-12 col-md-6">
                
                <p  class="" style=""
                    data-bottom="opacity:0;"
                    data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Our clients, from start ups to big companies. We love to work with them, as well as freelancers, retail or hospitality businesses and NGO’s. 
                    Every single one has to tell their own individual story. Together we change the game and build sustainable brands. 
                    
                </p>
                <p  class="" style=""
                    data-bottom="opacity:0;"
                    data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Let’s bring your brand to life!
                </p>
            </div>       
        </div>
    </div>

<!-- end third section -->

<!-- fourth section -->
    {% include 'portfolio.twig' %}
<!-- end fourth section -->


<!-- sixth section -->
    <div class="container-fluid sixth-section white">
        <div class="row">
            <div class="col text-center"
                data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
                <h2
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >service
                </h2>
                <h2 class="font-weight-bold"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"             
                    >made in Germany
                </h2>
            </div>
        </div>
    </div>
<!-- end sixth section -->

<!-- footer -->
    {% include 'footer.twig' with {'boja' : '#DA628A'}  %}
<!-- end footer -->

</div>

<style>
.owl-nav{
    position:absolute;
    bottom:5vh;
    right:3rem;
}
.owl-dots{
    position:absolute;
    bottom:5vh;
    left:0;
}
@media only screen and (max-width: 768px) {
.owl-nav{
    position:absolute;
    bottom:6vh !important;
    right:2rem;
}
.owl-dots{
    position:absolute;
    bottom:6vh !important;
    left: 0rem;  
}
}
</style>
<script>
window.addEventListener('load', function() {
    console.log('All assets are loaded')
    console.log('doc on load')
    var owl = $('.owl-carousel');
    
    owl.owlCarousel({
        loop:false,
        margin:0,
        nav:true,
        items:1,
        smartSpeed:450,
        //touchDrag: false,
         navText: ["<img src='images/purple_line.png'>",'<span id="navnumber">1</span>']
    })
    ;
owl.on('changed.owl.carousel', function(event) {
    console.log(event)
    window.document.getElementById('navnumber').innerHTML = event.item.index+1
})

var prevent_skrollr_render=false
var scrollTop
owl.on('drag.owl.carousel', function(event) {
    console.log('drag.owl.carousel',event)
    prevent_skrollr_render=true
    scrollTop = s.getScrollTop()
    return false
})
owl.on('dragged.owl.carousel', function(event) {
    console.log('draged.owl.carousel',event)
    //prevent_skrollr_render=false
    return false
})
owl.on('translated.owl.carousel', function(event) {
    console.log('translated.owl.carousel',event)
    prevent_skrollr_render=false
    if (scrollTop) s.setScrollTop(scrollTop, true)

    return false
})



    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            //if (element.classList.contains('fourth-section') && 
            //if (window.innerHeight<768)  return
            var clas = (element && element.dataset)?element.dataset.menu:null;
            //console.log('menu class:', clas, element.id, name, direction, element )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
       // , skrollrBody:'projects'
    });
    skrollr.menu.init(s, {
        //skrollr will smoothly animate to the new position using `animateTo`.
        animate: true,
        //The easing function to use.
    //    easing: 'sqrt',

        //Multiply your data-[offset] values so they match those set in skrollr.init
    //	scale: 2,

        //Add hash link (e.g. `#foo`) to URL or not.
      //  updateUrl: false //defaults to `true`.
    });    
    s.on('beforerender', function(o){
      //console.log('beforerender', o)
      if (prevent_skrollr_render) return false
    })

})

</script>



<script>

/*
    var hash = document.location.hash
    if (hash) {
        hash = hash.substr(1)
        var link = document.getElementById(hash);
        skrollr.menu.click(link);    
        console.log('scrolled to ', hash, link)
    }
     */
</script>

{% endblock %}