{% extends "base_de.twig" %}

{% block content %}

<!--<div class="spacer"> spacer</div>

<div class="section-1"
      data-0="position: !static; "
      
     >
  <h1 style="text-align:center;"
      data-200p="opacity: 0;"
      data-250p="opacity: 1;"
      data-300p="opacity: 0"
      data-center-bottom="opacity: 1;"
      data-bottom="opacity: 0;"    
      >Prvi text</h1>
   </div>

<div class="spacer"> spacer</div>-->
<div id="skrollr-body">

{% include 'intro.twig' %}

<!-- second section -->
    <div class="container-fluid d-md-flex flex-column" style="height: 100vh;" id="agency"
            data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="your-agency mx-auto" style="height: 100%;">
            <h2 class="scnd-section-text weight-ch white" 
                data-bottom-top="opacity[swing]:0; transform:translateY(150px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0">
                Deine Agentur für   
            </h2>
            <h2 class="scnd-section-text white font-weight-bold"
                data-bottom-top="opacity[swing]:0; transform:translateY(200px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0;">
                Branding <br class="d-md-none">
                und <br class="d-md-none">
                Web-Design
            </h2>
        </div>
    </div>
<!--
    <div class="container-fluid d-flex flex-column d-md-none" style="height: 100vh;" id="agency"
            data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="d-flex flex-column justify-content-center align-items-start px-4" style="height: 100%;">
            <h2 class="scnd-section-text white font-weight-normal" 
                data-bottom-top="opacity[swing]:0; transform:translateY(150px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0">
                Your agency for
            </h2>
            <h2 class="scnd-section-text white font-weight-bold"
                data-bottom-top="opacity[swing]:0; transform:translateY(200px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0;">
                branding <br>
                and <br>
                web design
            </h2>
        </div>
    </div>
end second section -->

<!-- third section -->
    <div class="third-section padding container-fluid bg-white d-flex flex-column justify-content-center"  style="color: #555454;"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark">
        <div class="row align-items-top" style="">
            <div class="col-12 col-md-6">
                <div class="my-auto wo d-flex flex-column justify-content-center">
                    <h3 class="positioning-sm py-md-4 pt-sm-5"
                        data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                        data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    
                        >
                            Hallo, wir sind<br> 
                        <b
                        data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                        data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                        >
                            the creativework co.
                        </b> 
                    </h3>
                </div>
            </div>
        </div>
        <div class="row align-items-top" style="">
            <div class="col-12 col-md-6">
                <div class="my-auto">
                <p
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    Wir sind eine digitale Marketing Agentur, die Marken zum Leben erweckt. 
                    Wir erstellen Webseiten und entwickeln Kommunikationsstrategien für unsere Kunden rund um den Globus.
                </p>
                <p
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    Unser Kollektiv hat bereits Projekte in 
                        <span
                            data--25p-bottom="color: rgb(126, 126, 126);" 
                            data--40p-bottom="color: rgb(218, 98, 138)"  
                            >
                            Abu Dhabi, Belgrad, Den Haag, Doha, Dubai, Köln, London oder Seoul
                        </span>
                    betreut. 
                </p>
                </div>
            </div>
             <div class="col-12 col-md-6">
                
                <p  class="" style=""
                    data-bottom="opacity:0;"
                    data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Unsere Kunden, vom Start Up bis hin zum großen Unternehmen. Wir lieben es mit allen zu arbeiten, genauso mit Freiberuflern, 
                    Einzelhändlern, Hotels, Restaurants und Vereinen. Jeder hat seine eigene individuelle Geschichte zu erzählen. 
                    Zusammen ändern wir die Spielregeln und bauen eine nachhaltige Marke auf.
                </p>
                <p
                    data-bottom="opacity:0;"
                    data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    Let’s bring your brand to life!
                </p>
            </div>       
        </div>
    </div>

<!-- end third section -->

<!-- fourth section - Projekti -->
    {% include 'portfolio_de.twig' %}
<!-- end fourth section -->

<!-- sixth section -->
    <div class="container-fluid sixth-section white">
        <div class="row">
            <div class="col text-center"
                data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
                <h2
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >service
                </h2>
                <h2 class="font-weight-bold"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"             
                    >made in Germany
                </h2>
            </div>
        </div>
    </div>
<!-- end sixth section -->

<!-- footer -->
    {% include 'footer_de.twig' with {'boja' : '#DA628A'}  %}
<!-- end footer -->
</div>

<style>
.owl-nav{
    position:absolute;
    bottom:5vh;
    right:3rem;
}
.owl-dots{
    position:absolute;
    bottom:5vh;
    left:0;
}
@media only screen and (max-width: 768px) {
.owl-nav{
    position:absolute;
    bottom:6vh !important;
    right:2rem;
}
.owl-dots{
    position:absolute;
    bottom:6vh !important;
    left: 0rem;  
}
}
</style>
<script>
window.addEventListener('load', function() {
    console.log('All assets are loaded')
    console.log('doc on load')
    var owl = $('.owl-carousel');
    
    owl.owlCarousel({
        loop:false,
        margin:0,
        nav:true,
        items:1,
        smartSpeed:450,
        touchDrag: false,
         navText: ["<img src='images/purple_line.png'>",'<span id="navnumber">1</span>']
    })
    ;
owl.on('changed.owl.carousel', function(event) {
    console.log(event)
    window.document.getElementById('navnumber').innerHTML = event.item.index+1
})

    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            //if (element.classList.contains('fourth-section') && 
            //if (window.innerHeight<768)  return
            var clas = (element && element.dataset)?element.dataset.menu:null;
            //console.log('menu class:', clas, element.id, name, direction, element )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
       // , skrollrBody:'projects'
    });
    skrollr.menu.init(s, {
        //skrollr will smoothly animate to the new position using `animateTo`.
        animate: true,
        //The easing function to use.
    //    easing: 'sqrt',

        //Multiply your data-[offset] values so they match those set in skrollr.init
    //	scale: 2,

        //Add hash link (e.g. `#foo`) to URL or not.
      //  updateUrl: false //defaults to `true`.
    });    

})

</script>

{% endblock %}