{% extends "base.twig" %}
{% block content %}
<div id="skrollr-body">


<!-- first section -->
<div class="container-fluid first-section-legal legal white"
data-top="" data-top-bottom="" data-emit-events data-menu="lite">
        <div class="row pt-5" style="
            background-image: url(images/the_creativework_co.svg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;"
            >
        <div class="col-12 text-center">
            <h1 class="py-md-5 font-weight-bold"
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
            >Legal Notice</h1>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6 offset-md-3 text-center">
            <p
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >
                Information pursuant to German § 5 TMG:
            </p>
            <p
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >
                the creativework co.
            </p>
            <p
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >
               Falk & Isakovic GbR <br>
               Brantstraße 6 <br>
               80687 München
            </p>
            <p
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >
                 Represented by the partners:<br>
                 Christopher Falk <br>
                 Dragan Isakovic
            </p>
            <p
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >Contact:<br>
            <a href="tel:+491631998163" class="white"
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >Phone: +49 163 199 81 63</a> <br>
            <a href="mailto:aloha@thecreativework.co" class="white"
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;" 
            >E-Mail: aloha@thecreativework.co</a>
            </p>
            <p                        
                data-bottom-top="opacity:0;"
                data--25p-bottom-top="opacity:1;" 
                data--85p-bottom-top="opacity:1;" 
                data--100p-bottom-top="opacity:0;"  
                >
                Responsible for the content according to German § 55(2) RStV: <br>
                Dragan Isakovic (see above address)
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- end first section -->

{% set Legal = fetch("Legal") %}
{% for item in Legal %}
    <!-- second section -->
        <div class="container-fluid section-legal-{{ cycle(['0', '1', '2'], loop.index0) }} d-flex flex-column justify-content-center align-items-center"
         data-top="" data-top-bottom="" data-emit-events data-menu="{{cycle(['dark', 'dark', 'lite'], loop.index0)}}">
            <div class="row">
                <div class="col col-md-6 offset-md-3">
                    <h2 class="font-weight-bold pb-5"
                        data-bottom-top="opacity:0;"
                        data--25p-bottom-top="opacity:1;" 
                        data-35p-top-bottom="opacity:1;" 
                        data-60-top-bottom="opacity:0;"                   
                    >{{item.Title}}</h2>
                    <p style="white-space: pre-wrap;"
                        data-bottom-top="opacity:0;"
                        data--25p-bottom-top="opacity:1;" 
                        data-35p-top-bottom="opacity:1;" 
                        data-60-top-bottom="opacity:0;" 
                    >{{item.Text}}</p>                
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    <!-- end second section -->
{% endfor %}

<!-- footer -->
    {% include 'footer.twig' with {'boja' : '#79B2C6'}  %}
<!-- end footer -->
</div>
<script>
    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            var clas = (element && element.dataset)?element.dataset.menu:null;
            console.log('menu class:', clas, element.id, name, direction )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
        //, skrollrBody:'anchor'
    });
</script>
{% endblock %}