
<!DOCTYPE html>
<html lang="en-us">

	<head>

		<!-- meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="initial-scale=1, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="MOON | The Official Webpage of Space Rock Band Moon from Serbia" />
		<!-- /meta -->
    <base href="https://moonspacerock.com">
		<!-- basic -->
		<title>MOON | The Official Webpage of Space Rock Band Moon</title>

        <!-- style -->
		<link href="assets/css/style.css?ver=2" rel="stylesheet" type="text/css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400" rel="stylesheet" />
        <!-- /style -->

        <!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
		<link rel="manifest" href="assets/images/favicons/site.webmanifest" />
		<link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="theme-color" content="#ffffff" />
		<!-- /favicons -->

		<!-- facebook meta -->
	    <meta property="og:url" content="https://moonspacerock.com" />
	    <meta property="og:title" content="MOON | The Official Webpage of Space Rock Band Moon" />
	    <meta property="og:description" content="MOON | The Official Webpage of Space Rock Band Moon from Serbia" />
	    <meta property="og:image" content="https://moonspacerock.com/assets/images/share.jpg" />
	    <meta property="og:site_name" content="MOON | The Official Webpage of Space Rock Band Moon" />
	    <!-- /facebook meta -->

        <!-- analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125653444-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-125653444-1');
        </script>
        <!-- /analytics -->

        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '187180502143303');
        fbq('track', 'PageView');
        </script>
        <!-- End Facebook Pixel Code -->

	</head>

	<body>

		<!-- page wrapper -->
		<div class="page-wrapper">

		    <!-- header -->
		    <header class="header">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="header-container">

								<a href="./" class="header-logo"></a>

								<ul class="header-navigation">
									<li>
										<a href="#news">News</a>
									</li>
									<li>
										<a href="#band">Band</a>
									</li>
									<li>
										<a href="#shows">Shows</a>
									</li>
									<li>
										<a href="#releases">Releases</a>
									</li>
									<li>
										<a href="#media">Media</a>
									</li>
									<li>
										<a href="#photos">Photos</a>
									</li>
								</ul>

								<ul class="header-social">
									<li>
										<a href="https://www.facebook.com/moon.spacerockband/" class="facebook" target="_blank" rel="nofollow"></a>
									</li>
									<li>
										<a href="https://www.instagram.com/moon.spacerock/" class="instagram" target="_blank" rel="nofollow"></a>
									</li>
									<li>
										<a href="https://www.youtube.com/channel/UCWUxZj-w9irosO6_jA1YvhA" class="youtube" target="_blank" rel="nofollow"></a>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
		    </header>
		    <!-- /header -->

		    <!-- main -->
		    <main class="main">

                <!-- hero -->
                <section class="hero" id="hero">
                    <div class="hero-image"></div>
                </section>
                <!-- /hero -->

				<!-- news -->
				<section class="news" id="news">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="news-container">

									<div class="row">
										<div class="col-lg-12">
											<h2>
												&lt; News &gt;
											</h2>
										</div>
									</div>

									<div class="row stretch">
                                        										<div class="col-lg-4 col-sm-12 news-article-wrap">
											<div class="news-article">
												<div class="news-article-image" style="background-image: url('upload/news/8133094916.jpg')"></div>
												<div class="news-article-text">
                                                    <div class="news-article-text-date">
                                                        04.10.2019.                                                    </div>
													<h4>
														MOON Premieres ‘Discovery’ Music Video													</h4>
													<p><a title="MOON - Discovery" href="https://www.youtube.com/watch?v=LZFs2UiG2ck">The Serbian instrumental space-rock trio<strong>&nbsp;MOON</strong>&nbsp;has released a third video from the album<strong>&nbsp;Maybe We&rsquo;ll Come Back</strong>, a dynamic piece titled &ldquo;Discovery.&rdquo;</a></p>												</div>
											</div>
										</div>
                                        										<div class="col-lg-4 col-sm-12 news-article-wrap">
											<div class="news-article">
												<div class="news-article-image" style="background-image: url('upload/news/9054519614.jpg')"></div>
												<div class="news-article-text">
                                                    <div class="news-article-text-date">
                                                        29.07.2019.                                                    </div>
													<h4>
														MOON Lands On Nišville Jazz Festival 2019													</h4>
													<p><a title="MOON - Ni&scaron;ville 2019" href="http://nisville.com/en/nisville-stages-2/air-stage/">MOON&nbsp;will take part on Ni&scaron;ville Jazz Festival this year!&nbsp;</a><br /><a title="MOON - Ni&scaron;ville 2019" href="http://nisville.com/en/nisville-stages-2/air-stage/">Air stage near the Water Gate at the southeast bulwark of the Fortress is dedicated to progressive music.</a></p>												</div>
											</div>
										</div>
                                        										<div class="col-lg-4 col-sm-12 news-article-wrap">
											<div class="news-article">
												<div class="news-article-image" style="background-image: url('upload/news/4321455502.jpg')"></div>
												<div class="news-article-text">
                                                    <div class="news-article-text-date">
                                                        21.05.2019.                                                    </div>
													<h4>
														New single "Mission" featured on Radio Belgrade 202 charts!													</h4>
													<p><a title="Moon - Mission" href="https://rtsplaneta.rs/video/show/831993/?lang=sr_lat&amp;fbclid=IwAR23d0SHrzuCU3i8CPH2B9oajP3fGR-jJOe4_AyPXFwu6fMYx8yefDSrCdM">Check it out on <strong>RTS PLANETA</strong> web portal.</a></p>												</div>
											</div>
										</div>
                                        									</div>

                                    <div class="news-load">
                                        <div class="row stretch">
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/8163350934.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            01.05.2019.                                                        </div>
    													<h4>
    														New music video - "Mission"    													</h4>
    													<p><a title="MOON - Mission" href="https://www.youtube.com/watch?v=LY6xj0txXds"><strong>MOON</strong> has released a second video single from the album &ldquo;<strong>Maybe We&rsquo;ll Come Back</strong>&rdquo;, titled &ldquo;<strong>Mission</strong>&rdquo;.</a></p>
<p><a title="MOON - Mission" href="https://www.youtube.com/watch?v=LY6xj0txXds">Check it out!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/8492399539.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            08.04.2019.                                                        </div>
    													<h4>
    														Interview: EDITOR.RS    													</h4>
    													<p><a href="http://editor.rs/moon-za-editor-ugledajte-se-na-kolege-sa-zapada/">MOON za Editor: Ugledajte se na kolege sa Zapada</a><br /><a href="http://editor.rs/moon-za-editor-ugledajte-se-na-kolege-sa-zapada/">Check it out!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/6467674443.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            14.01.2019.                                                        </div>
    													<h4>
    														Album Review: MUZIKA.HR     													</h4>
    													<p><a href="https://www.muzika.hr/albumi/moon-maybe-well-come-back/">MOON: Instrumentalno putovanje kroz simulirani svijet</a><br /><a href="https://www.muzika.hr/albumi/moon-maybe-well-come-back/">Check it out!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/1310945839.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            19.11.2018.                                                        </div>
    													<h4>
    														MOON @ German Oldenburg Eins radio     													</h4>
    													<p><a href="https://www.facebook.com/moon.spacerockband/videos/331501481001735/" target="_blank">Click here &amp; check it out!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/7645874868.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            03.10.2018.                                                        </div>
    													<h4>
    														Užice will celebrate City Day with MOON    													</h4>
    													<p><a href="https://www.facebook.com/events/492778507857784/" target="_blank">05.10.2018. &gt; Check out the event!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/7333669332.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            06.09.2018.                                                        </div>
    													<h4>
    														MOON > tonight on Radio Belgrade 202    													</h4>
    													<p><a href="https://www.facebook.com/moon.spacerockband/videos/2124694900897898/">Tonight we are on <strong>Radio Belgrade 202</strong> - <strong>Demo Ekspres</strong> radio show. <em>Starts at&nbsp;10pm</em> - <strong>Tune in!</strong></a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/7794120085.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            04.09.2018.                                                        </div>
    													<h4>
    														Feature on Smile Radio (UK)    													</h4>
    													<p><a title="Click here!" href="https://www.facebook.com/moon.spacerockband/videos/988520124664326/" target="_blank">Check out &nbsp;feature on Ritchie J Show. Make sure you tune in to Smile Radio (UK) for some great music!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/4585397081.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            01.09.2018.                                                        </div>
    													<h4>
    														MOON Lands On Radio Belgrade 202 Charts    													</h4>
    													<p><a title="Check it out!" href="https://www.facebook.com/moon.spacerockband/videos/2139671286250168/" target="_blank">MOON Lands On Radio Belgrade 202 Charts!</a><br /><a title="Check it out!" href="https://www.facebook.com/moon.spacerockband/videos/2139671286250168/" target="_blank">Check it out!</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/640721278.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            02.08.2018.                                                        </div>
    													<h4>
    														Album Review: METALADDICTS.COM    													</h4>
    													<p><a href="http://metaladdicts.com/site/moon-maybe-well-come-back/?fbclid=IwAR0O7fcUd--1IxnlRoNTsY1bNiEpAK5V4bTGbBYpYwuQCnfir3eR036G0Mc">Click to read entire review on www.metaladdicts.com !</a></p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/6730812602.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            01.03.2018.                                                        </div>
    													<h4>
    														MOON & Repetitor @ Arsenalizacija    													</h4>
    													<p>MOON will share stage with acclaimed Belgrade garage rock&nbsp;<a title="Repetitor" href="https://en.wikipedia.org/wiki/Repetitor" target="_blank">Repetitor</a>&nbsp;on warm-up show for <a title="Arsenal festival" href="https://arsenalfest.rs/" target="_blank">Arsenal festival</a> in Dom Omladine Kragujevac on 3rd September 2018.</p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/2307064617.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            22.02.2018.                                                        </div>
    													<h4>
    														Studio Recording - Finished    													</h4>
    													<p>Studio recording is finished for our upcoming new album.</p>
<p><strong>MOON</strong>&rsquo;s debut album was recorded at Chicken Sound studio in Zagreb, Croatia.</p>    												</div>
    											</div>
    										</div>
                                                										<div class="col-lg-4 col-sm-12 news-article-wrap">
    											<div class="news-article">
    												<div class="news-article-image" style="background-image: url('upload/news/1278781579.jpg')"></div>
    												<div class="news-article-text">
                                                        <div class="news-article-text-date">
                                                            23.06.2017.                                                        </div>
    													<h4>
    														MOON @ Arsenal Fest     													</h4>
    													<p><strong>MOON</strong> being chosen to close the second night of Arsenal Fest on the Demolition stage, headlined by <strong>ANTHRAX</strong> (USA), <strong>SKINDRED</strong> (UK), <strong>DUB FX</strong> (AUS) and <strong>THIEVERY </strong><strong>CORPORATION</strong> (USA).</p>    												</div>
    											</div>
    										</div>
                                                									</div>
                                    </div>

									<div class="row news-more">
										<div class="col-lg-12 text-center">
											<a href="#" class="button js-more-news">More news</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /news -->

				<!-- band -->
				<section class="band" id="band">
					<div class="container">

						<div class="row">
							<div class="col-lg-12">
								<h2>
									&lt; Band &gt;
								</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="band-text">
									<div class="row center">
										<div class="col-lg-8">
											<p><strong>MOON</strong> was formed in 2016 and they perform their own version of instrumental space-rock. Band members are experienced local scene musicians from Serbia. <strong>Katana</strong> is guitarist from the acclaimed crossover band <strong>NISTA ALI LOGOPEDI</strong> classic line-up. <strong>Katana</strong> and bassist <strong>Miki</strong>&nbsp;were members of alt-rock band <strong>ELEVEN</strong>, founded 2008, with four Top 20 singles at regional MTV Adria. Miki&rsquo;s brother <strong>Miro</strong> is behind the drums. <strong>MOON</strong> was introduced to the world in 2017 with single releases of &bdquo;Escape&ldquo; and &bdquo;Voyager 1&ldquo;, followed by live performances across the region. Highlights include <strong>MOON</strong> being chosen to close the second night of <strong>Arsenal Fest</strong> on the <strong>Demolition stage</strong>, headlined by ANTHRAX (USA), SKINDRED (UK), DUB FX (AUS) and THIEVERY CORPORATION (USA), also in 2017. In 2019 <strong>MOON</strong> is billed to play at 25th <strong>Nishville International Jazz Festival</strong>&#39;s Air Stage, the stage dedicated to progressive music.</p>
<p><strong>MOON</strong> has self-released their debut album &ldquo;Maybe We&rsquo;ll Come Back&rdquo; on June 11, 2018 - available on iTunes, Deezer, Spotify, Google Play, Apple Music, etc. Album&#39;s debut single&nbsp;"Lux Aeterna" charted on national radio station <strong>RTS Belgrade&nbsp;202</strong> peaking at #4 on Domestic and #15 at International top 40 chart. Followed by the success of its predecessor, <strong>MOON</strong>&#39;s second single "Mission" has peaked at #2 on Domestic and #5 at International chart, spending 13 consecutive weeks on both charts.</p>										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="band-members">
									<img src="assets/images/miki.png" alt="" />
									<img src="assets/images/katana.png" alt="" />
									<img src="assets/images/miro.png" alt="" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 text-center">
								<a href="mailto:info@moonspacerock.com" class="band-email">info@moonspacerock.com</a>
							</div>
						</div>

					</div>
				</section>
				<!-- /band -->

				<!-- shows -->
				<section class="shows" id="shows">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="shows-container">

									<div class="row">
										<div class="col-lg-12">
											<h2>
												&lt; Shows &gt;
											</h2>
										</div>
									</div>

									<div class="row center">
										<div class="col-lg-6 col-md-8 col-sm-12">


{% set Years = fetch("Shows_years") %}
{% for Year in Years %}
{% if not loop.first %}
  <div class="shows-load">
{% endif %} 
<h3 class="shows-year">
  {{Year.year}}
</h3>
<table class="shows-table">
  <tr>
    <th width="25%">Date</th>
    <th width="60%">Venue</th>
    <th width="15%"></th>
  </tr>
  {% for item in Year.show %}
  <tr>
    <td> {{item.ShowDate|date("d.m.Y.")}}  </td>
    <td> {{item.Place}} </td>
    <td class="text-right">
      <a href="{{item.Link}}" target="_blank" rel="nofollow">Info</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% if not loop.first %}
  </div>
{% endif %} 
{% endfor %}



                                            <div class="shows-load">
                                                <h3 class="shows-year">
    												2018
    											</h3>
    											<table class="shows-table">
    												<tr>
    													<th width="25%">Date</th>
    													<th width="60%">Venue</th>
    													<th width="15%"></th>
    												</tr>
    												    												<tr>
    													<td>17.11.2018.</td>
    													<td>Grizzly / Kruševac [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/pages/Grizzly/515233048540227" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>05.10.2018.</td>
    													<td>Gradski Kulturni Centar / Užice [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/492778507857784/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>22.07.2018.</td>
    													<td>Splav Knjaz / Novi Beograd [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/708316349515459/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>22.06.2018.</td>
    													<td>PDF Festival / Bačka Palanka [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/156823331798767/?active_tab=discussion" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>26.05.2018.</td>
    													<td>Beti Ford / Beograd [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/1108737665940416/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>08.04.2018.</td>
    													<td>URM Festival / Šabac [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/pg/moon.spacerockband/photos/?tab=album&album_id=371280343358283&__xts__%5B0%5D=68.ARAgAC2MbZNOcGENjy0NKS7m9tk9j6GCF5c3DRXhQM3OoMl3aObrAnmDQFt9Zg-EfvZT73K4pdq4HSj9qjEbHvPevsaHX2qLdPRBJR3dq1u1irULM3qKftv13oV5vemlHLRod3dM7E3RUvrD3-o" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>03.03.2018.</td>
    													<td>Arsenalizacija - Dom Omladine / Kragujevac [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/176927682949237/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    											</table>

                                                <br />
                                                
                                                <h3 class="shows-year">
    												2017
    											</h3>
    											<table class="shows-table">
    												<tr>
    													<th width="25%">Date</th>
    													<th width="60%">Venue</th>
    													<th width="15%"></th>
    												</tr>
    												    												<tr>
    													<td>18.11.2017.</td>
    													<td>Ljubitelj Klub / Gornji Milanovac [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/2032468020373679/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>29.09.2017.</td>
    													<td>Klub Fleka / Šabac [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/1828744240770809/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    												<tr>
    													<td>23.06.2017.</td>
    													<td>Arsenal Festival / Kragujevac [RS]</td>
    													    													<td class="text-right">
    														<a href="https://www.facebook.com/events/1120956548006162/" target="_blank" rel="nofollow">Info</a>
    													</td>
    													    												</tr>
    												    											</table>
                                            </div>

										</div>
									</div>

									<div class="row margin-top past-shows">
										<div class="col-lg-12 text-center">
											<a href="#" class="button js-past-shows">Past shows</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /shows -->

				<!-- releases -->
				<section class="releases" id="releases">
					<div class="container">

						<div class="row">
							<div class="col-lg-12">
								<h2>
									&lt; Releases &gt;
								</h2>
							</div>
						</div>

						<div class="row stretch">
														<div class="col-lg-4">
								<div class="releases-item">
									<div class="releases-item-image">
										<img src="upload/albums/8691030471.jpg" alt="" />
									</div>
									<div class="releases-item-title">
										<span>Maybe We&#39;ll Come Back</span>
										<span>2018</span>
									</div>
									<div class="releases-item-links">
																					<a href="https://www.deezer.com/us/album/65526672" class="deezer" target="_blank" rel="nofollow"></a>
																															<a href="https://open.spotify.com/album/7cppTa2eakSw9OBV086o0h" class="spotify" target="_blank" rel="nofollow"></a>
																															<a href="https://itunes.apple.com/us/album/maybe-well-come-back/1397145394?app=itunes" class="itunes" target="_blank" rel="nofollow"></a>
																			</div>
								</div>
							</div>
														<div class="col-lg-4">
								<div class="releases-item">
									<div class="releases-item-image">
										<img src="upload/albums/4008309527.jpg" alt="" />
									</div>
									<div class="releases-item-title">
										<span>Voyager 1 [Single]</span>
										<span>2017</span>
									</div>
									<div class="releases-item-links">
																					<a href="https://www.deezer.com/us/album/42342811" class="deezer" target="_blank" rel="nofollow"></a>
																															<a href="https://open.spotify.com/album/1rYBJmsI8CHhZI84Yz9Trr" class="spotify" target="_blank" rel="nofollow"></a>
																															<a href="https://itunes.apple.com/us/album/voyager-1-single/1241690368" class="itunes" target="_blank" rel="nofollow"></a>
																			</div>
								</div>
							</div>
														<div class="col-lg-4">
								<div class="releases-item">
									<div class="releases-item-image">
										<img src="upload/albums/2867389815.jpg" alt="" />
									</div>
									<div class="releases-item-title">
										<span>Escape [Single]</span>
										<span>2017</span>
									</div>
									<div class="releases-item-links">
																					<a href="https://www.deezer.com/us/album/42028361" class="deezer" target="_blank" rel="nofollow"></a>
																															<a href="https://open.spotify.com/album/5ZYyOQlO8pQ9SKBpCwnkQ1" class="spotify" target="_blank" rel="nofollow"></a>
																															<a href="https://itunes.apple.com/us/album/escape/1239215380?i=1239215411" class="itunes" target="_blank" rel="nofollow"></a>
																			</div>
								</div>
							</div>
													</div>

					</div>
				</section>
				<!-- /releases -->

				<!-- media -->
				<section class="media" id="media">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="media-container">

									<div class="row">
										<div class="col-lg-12">
											<h2>
												&lt; Media &gt;
											</h2>
										</div>
									</div>

									<div class="row stretch">
                                        										<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=LZFs2UiG2ck&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/LZFs2UiG2ck/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Discovery													</h4>
												</div>
											</div>
										</div>
																				<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=LY6xj0txXds&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/LY6xj0txXds/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Mission													</h4>
												</div>
											</div>
										</div>
																				<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=--8KMhb2geg&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/--8KMhb2geg/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Lux Aeterna													</h4>
												</div>
											</div>
										</div>
																				<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=nxqFv4yrHo8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/nxqFv4yrHo8/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Paradroid [live]													</h4>
												</div>
											</div>
										</div>
																				<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=QloUxhGZ1nc&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/QloUxhGZ1nc/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Lux Aeterna [live]													</h4>
												</div>
											</div>
										</div>
																				<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=Oj_x6Xj2Rf0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/Oj_x6Xj2Rf0/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Escape													</h4>
												</div>
											</div>
										</div>
																				<div class="col-lg-4 col-sm-12">
											<div class="media-article">
												<a href="https://www.youtube.com/watch?v=J5uKh_IbYRI&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="media-article-image" data-fancybox="" style="background-image: url(https://img.youtube.com/vi/J5uKh_IbYRI/hqdefault.jpg)"></a>
												<div class="media-article-text">
													<h4>
														Voyager 1													</h4>
												</div>
											</div>
										</div>
																			</div>

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /media -->

				<!-- photos -->
				<section class="photos" id="photos">
					<div class="container">

						<div class="row">
							<div class="col-lg-12">
								<h2>
									&lt; Photos &gt;
								</h2>
							</div>
						</div>

						<div class="row center">
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5146394721.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5146394721.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/4821229386.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/4821229386.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5577625794.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5577625794.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/3585983806.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/3585983806.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/826122792.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/826122792.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/753625288.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/753625288.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/6468254540.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/6468254540.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/8011278727.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/8011278727.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/4954457144.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/4954457144.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/4252698478.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/4252698478.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5290403668.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5290403668.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/715632309.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/715632309.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/6598669607.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/6598669607.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5520803160.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5520803160.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/8262242922.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/8262242922.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/7639060060.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/7639060060.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/7358444140.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/7358444140.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5824991090.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5824991090.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/6700758267.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/6700758267.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/913594411.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/913594411.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5920279387.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5920279387.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/5369368546.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/5369368546.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/9904478602.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/9904478602.jpg" alt="" />
								</a>
							</div>
                            							<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<a href="upload/photos/481744167.jpg" class="photos-item" data-fancybox="gallery">
									<img src="upload/photos/thumb/481744167.jpg" alt="" />
								</a>
							</div>
                            						</div>

					</div>
				</section>
				<!-- /photos -->

		    </main>
		    <!-- /main -->

		    <!-- footer -->
		    <footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">

							&copy; 2020 MOON - All Rights Reserved<br />
							Coding ninja: <a href="https://zoranperin.com" target="
                            ">Zoran Perin</a> - Art: Zoran Cardula - Design: Miki Stankovic<br />
							<a href="mailto:info@moonspacerock.com">info@moonspacerock.com</a>

						</div>
					</div>
				</div>
		    </footer>
		    <!-- /footer -->

            <!-- loader -->
            <div class="page-loader active">
                <div class="page-loader-content">
                    <div class="page-loader-content-text">
                        Destination: <strong>MOON</strong><br />
                        Distance: <strong>~384.000 km</strong><br />
                        Flight time: <strong>~76 hours</strong><br />
                        Flight speed: <strong>~5.000 km/h</strong><br />
                    </div>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
            <!-- /loader -->

	    </div>
	    <!-- /page wrapper -->

		<!-- js -->
		<script src="assets/js/scripts.js?ver=2"></script>
		<!-- /js -->

	</body>

</html>
