bg-image crna nevidljiva
        <div class="row" style="">
            <!--
            background-image: url(images/the_creativework_co.svg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            -->
            <div class="col-12 text-center">
                <h1 class="font-weight-bold"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                >Privacy Policy</h1>
            </div>
        </div>

privacy policy 1st section podaci o osnivacima        
        {#<div class="row">
            <div class="col col-md-6 offset-md-3 text-center">
                <p class="py-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                    Contact<br>
                    <a href="mailto:aloha@thecreativework.co" class="white">E-Mail: aloha@thecreativework.co</a>
                </p>
                <p class="pb-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                information pursuant to German § 5 TMG & responsible <br> 
                for the content according to German § 55(2) RStV
                </p>
                <p class="pb-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                Falk & Isakovic GbR <br>
                </p>
                <p class="text-center pb-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                    Dragan Isakovic <br> 
                    the creativework co. <br>
                    Brantstraße 6 <br> 
                    80687 München
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>#}

services, we love..
        {#<!--<div class="row pb-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Branding
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                   Präsentiert eure Marke der großen weiten Welt. 
                   Wir unterstützen euch dabei, eure Markenstrategie zu visualisieren und eurer Marke eine einzigartige Identität zu geben.
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Visuelle Identität, Corporate Identity, Logo Design, Schriftart, Marken Leitfaden, Farbgestaltung, 
                    Druckerzeugnisse &amp; Verpackungsmaterial
                </p>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Design
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Es führt kein Weg mehr an einem digitalen Business vorbei. Es ist der online Zugang zu euren Kunden und vielen weiteren 
                    potenziellen Zielgruppen. 
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Webdesign, Webentwicklung, UI / UX Design, Content Management Systeme (CMS), 
                    E Commerce / Online Shops, Blogs, Automatisierungen &amp; App Entwicklung
                </p>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"          
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Content
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Erzähl eure Geschichte so, dass jeder davon begeistert sein wird. Vermittelt die richtige Message, die eure Kunden sofort verstehen.
                </p>
                <p
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Texterstellung, Fotografie, Video Produktion, Werbeclips, Animationen, 3D Renderings, Audio Produktionen &amp; Illustrationen
                </p>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"          
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Brand Aktivierung
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Eure Marke ist klasse. Erzählt es den Leuten. Wir unterstützen euch dabei, eure Werbung in die digitale Welt zu bringen. 
                    Immer mehr Leute treffen ihre Kaufentscheidung online. Werdet Teil des Spiels. 
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Digitales Marketing, Social Media Marketing, digitale Werbekampagnen, Kampagnenerstellung & Kampagnenoptimierung
                </p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"          
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Beratung
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Es ist immer die richtige Zeit um voraus zu planen. Zusammen mit euch finden wir die richtigen Vertriebskanäle und neue Märkte. 
                    Wir unterstützen euch dabei effizienter zu kommunizieren. Mit euren Mitarbeitern, euren (internationalen) Geschäftspartnern und euren 
                    Kunden. So bekommt ihr mehr aus eurem täglichen Geschäft.
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Einzelhandelsberatung, Start Up Beratung, Marktanalysen, Trendanalysen, Mitarbeiterschulungen &amp; Workshops
                </p>
            </div>
        </div>--> #}