bg-image crna nevidljiva
        <div class="row" style="">
            <!--
            background-image: url(images/the_creativework_co.svg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            -->
            <div class="col-12 text-center">
                <h1 class="font-weight-bold"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                >Privacy Policy</h1>
            </div>
        </div>

privacy policy 1st section podaci o osnivacima        
        {#<div class="row">
            <div class="col col-md-6 offset-md-3 text-center">
                <p class="py-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                    Contact<br>
                    <a href="mailto:aloha@thecreativework.co" class="white">E-Mail: aloha@thecreativework.co</a>
                </p>
                <p class="pb-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                information pursuant to German § 5 TMG & responsible <br> 
                for the content according to German § 55(2) RStV
                </p>
                <p class="pb-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                Falk & Isakovic GbR <br>
                </p>
                <p class="text-center pb-5"
                    data-bottom-top="opacity:0;"
                    data--25p-bottom-top="opacity:1;" 
                    data--85p-bottom-top="opacity:1;" 
                    data--100p-bottom-top="opacity:0;" 
                >
                    Dragan Isakovic <br> 
                    the creativework co. <br>
                    Brantstraße 6 <br> 
                    80687 München
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>#}