{% extends "base_de.twig" %}
{% block content %}

<div id="skrollr-body">
<!-- first section -->
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" style="background-color: #000;">
        <div class="row justify-content-center align-items-center" style="background-color: #000;">
            <img src="images/Do-something-great.jpg" class="img-fluid d-none d-md-block"/>
            <img src="images/services-mob.png" class="img-fluid d-block d-md-none"/>
        </div>
    </div>
<!-- end first section -->

<!-- second section -->
    <div class="container-fluid bg-white second-section-services d-flex flex-column align-items-center justify-content-center"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark">
        <div class="row my-auto">
            <div class="col-12 col-md-6">
                <h2 class="weight-ch serv-your" style="margin-bottom: 0;"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >Deine Agentur für</h2>
                <h2 class="font-weight-bold pb-5"
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >Branding <br class="d-md-none">
                und Web-Design</h2>
            </div>
            <div class="col-12 col-md-6">
                <p  class=""
                    data-bottom="opacity:0;"
                    data--2p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Wir bauen eure Marke auf oder verhelfen ihr zu neuem Glanz. 
                    Vom Logo Design und Druckerzeugnissen bis hin zu Verpackungsgestaltung und Webdesign. <br>
                    Wir sind auch bereit für eine gesamte Markenstrategie und deren Umsetzung, vom weißen Blatt Papier bis hin zu dem Moment, 
                    in dem wir euch voller Stolz euer neues Markenhandbuch übergeben können (und darüber hinaus).
                </p>
            </div>
            <div class="col-12">
                <a href="#contact" style="">
                    <span class="" style="color: #7E7E7E;">Starte Dein Projekt</span>
                    <img src="images/start.png" class="pl-3"/>
                </a>
            </div>
        </div>
    </div>
<!-- end second services -->

<!-- third section -->
    <div class="container-fluid third-section-services-heading white"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite"
        >
        <div class="row" style="">
            <div class="col">
                <h2 class="my-auto font-weight-bold"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"

                >Wir machen</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid third-section-services white"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite">

        <div class="row pb-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Strategie
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Lasst uns die Message definieren, die eure Marke aussagen soll. Deutlich, verständlich und auf den Punkt. 
                    Wir definieren gemeinsam die Ziele um eure Marke im richtigen Markt und für die richtige Zielgruppe zu positionieren.
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Marktforschung, Markenstrategie, Markenpositionierung, Namensfindung &amp; Claim
                </p>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Branding
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                   Präsentiert eure Marke der großen weiten Welt. 
                   Wir unterstützen euch dabei, eure Markenstrategie zu visualisieren und eurer Marke eine einzigartige Identität zu geben.
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Visuelle Identität, Corporate Identity, Logo Design, Schriftart, Marken Leitfaden, Farbgestaltung, 
                    Druckerzeugnisse &amp; Verpackungsmaterial
                </p>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Design
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Es führt kein Weg mehr an einem digitalen Business vorbei. Es ist der online Zugang zu euren Kunden und vielen weiteren 
                    potenziellen Zielgruppen. 
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Webdesign, Webentwicklung, UI / UX Design, Content Management Systeme (CMS), 
                    E Commerce / Online Shops, Blogs, Automatisierungen &amp; App Entwicklung
                </p>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"          
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Content
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Erzähl eure Geschichte so, dass jeder davon begeistert sein wird. Vermittelt die richtige Message, die eure Kunden sofort verstehen.
                </p>
                <p
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Texterstellung, Fotografie, Video Produktion, Werbeclips, Animationen, 3D Renderings, Audio Produktionen &amp; Illustrationen
                </p>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"          
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Brand Aktivierung
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Eure Marke ist klasse. Erzählt es den Leuten. Wir unterstützen euch dabei, eure Werbung in die digitale Welt zu bringen. 
                    Immer mehr Leute treffen ihre Kaufentscheidung online. Werdet Teil des Spiels. 
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Digitales Marketing, Social Media Marketing, digitale Werbekampagnen, Kampagnenerstellung & Kampagnenoptimierung
                </p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"          
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Beratung
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Es ist immer die richtige Zeit um voraus zu planen. Zusammen mit euch finden wir die richtigen Vertriebskanäle und neue Märkte. 
                    Wir unterstützen euch dabei effizienter zu kommunizieren. Mit euren Mitarbeitern, euren (internationalen) Geschäftspartnern und euren 
                    Kunden. So bekommt ihr mehr aus eurem täglichen Geschäft.
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir machen Sachen wie: Einzelhandelsberatung, Start Up Beratung, Marktanalysen, Trendanalysen, Mitarbeiterschulungen &amp; Workshops
                </p>
            </div>
        </div>

    </div>
<!-- end third section -->

<!-- fourth section -->
    <div class="container-fluid fourth-section-services-1 we-love bg-white"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
        <div class="row fourth-bg-text">
            <div class="col pl-0">
                <h2
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    <span class="weight-ch">We love</span> <br class="d-md-none">
                    <span class="font-weight-bold"> to work with</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid fourth-section-services-2 bg-white"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
        <div class="row py-4">
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                        Startups
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Auch wir haben irgendwann mal angefangen und wissen wie viel Arbeit das sein kann. Wir bieten euch spezielle Gründerpakete an, 
                    so dass ihr die Möglichkeit bekommt, eure Idee der Welt zu präsentieren.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Kleine bis große Firmen
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Jedes Unternehmen, ob klein oder groß, formt das Rückrad einer jeden Industrie. Fokussiert euch auf euer Kerngeschäft, 
                    wir kümmern uns darum euer Geschäft in das digitale Zeitalter zu führen.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Einzelhandel
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir haben selber einiges an Erfahrung gesammelt und von den besten gelernt wie man sein Angebot ideal präsentiert, 
                    über alle Verkaufskanäle hinweg, online und offline.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                 <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Gastgewerbe
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Lasst es ein Re-Design von einer Speisekarte, ein neues Logo oder ein komplett neues Branding für deine Bar, 
                    Restaurant oder Boutique Hotel. Wir unterstützen euch bei all dem, so dass noch mehr Leute euer tolles Angebot genießen kann. 
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Freiberufler
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Wir arbeiten super gerne mit Künstlern, Fotografen, Coaches, Personal Trainern und allen, 
                    die ihr eigenes Geschäft vorwärts bringen wollen.
                </p>
            </div>
        </div>

        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Vereine
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Egal ob Sportvereine, Nichtregierungsorganisationen oder Vereine die wohltätige Zwecke verfolgen (weiter so!), 
                    wir unterstützen euch dabei, euren Verein nach Außen zu präsentieren und viele Menschen auf eure tollen Aktionen aufmerksam zu machen.
                </p>
            </div>
        </div>

    </div>
<!-- end fourth section -->

<!-- fifth section -->
    <div class="container-fluid fifth-section-services"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="container">
            <h2 class="white py-5">Meet the founders</h2>
            <img src="images/founders.jpg" class="img-fluid"/>
            <p class="white py-5">Dragan and Chris</p>
        </div>
    </div>
<!-- end fifth section -->

<!-- footer -->
    {% include 'footer_de.twig' with {'boja' : '#79B2C6'}  %}
<!-- end footer -->
</div>

<script>
window.addEventListener('load', function() {
    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            if (element.classList.contains('fourth-section') && (window.innerHeight<768) ) return
            var clas = (element && element.dataset)?element.dataset.menu:null;
            //console.log('menu class:', clas, element.id, name, direction, element )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
       // , skrollrBody:'projects'
    });
    skrollr.menu.init(s, {
        //skrollr will smoothly animate to the new position using `animateTo`.
        animate: true,
        //The easing function to use.
    //    easing: 'sqrt',

        //Multiply your data-[offset] values so they match those set in skrollr.init
    //	scale: 2,

        //Add hash link (e.g. `#foo`) to URL or not.
      //  updateUrl: false //defaults to `true`.
    });    

})
</script>


{% endblock %}

