{% extends "base.twig" %}
{% block content %}

<div id="skrollr-body">
<!-- first section -->
    <div class="container-fluid"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite">
        <div class="row justify-content-center align-items-center" style="height:100vh; background-color: #000;">
            <img src="images/do_something_grate.jpg" class="img-fluid"/>
        </div>
    </div>
<!-- end first section -->

<!-- second section -->
    <div class="container-fluid bg-white second-section-services d-flex flex-column align-items-center justify-content-center"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark">
        <div class="row align-items-end justify-content-center">
            <div class="col-12 col-md-6">
                <h2 style="margin-bottom: 0;"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >Your agency for</h2>
                <h2 class="font-weight-bold"
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >branding and web design</h2>
            </div>
            <div class="col-12 col-md-6">
                <p  class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--2p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    We’ll support you in building or re-launching your brand. From logo design and stationary, to packaging and web design. 
                    We're also in for a whole branding strategy, managing it all the way, from the blank page to the moment we can proudly hand out 
                    your new brand book.
                </p>
            </div>
        </div>
    </div>
<!-- end second services -->

<!-- third section -->
    <div class="container-fluid third-section-services white"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite">
        <div class="row">
            <div class="col">
                <h2
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"

                >What we do</h2>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <hr class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >Branding</h3>
            </div>
            <div class="col-12 col-md-7 white">
                <hr class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    We let your business look great, digitally and the classic way. Brand strategy, brand identity, logo design, 
                    font design and development, corporate identity, branding guidelines, brand books
                </p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <hr class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Websites
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <hr class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Your digital gateway to reach your customer. Let’s make it a great one. 
                </p>
                <p
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    UI/UX design, web design & web development, content management systems (CMS), 
                    search engine optimisation (SEO), automatisations, e-commerce / online shop, newsletter setup, blog setup, mobile apps
                </p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <hr class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Content
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <hr class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Tell your story the way everyone is excited about. In wirtten, stills, motion and auditive.
                </p>
                <p
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Texts , Photography , Video productions , Promotional clips , Animations , 3D renderings , Audio productions
                </p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-5 white">
                <hr class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                Marketing
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <hr class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Let people know how great you are. You deserve it. We support you in setting you up to get the word out there, 
                    digitally and in print. Social media setup, landing pages, banner design, POS & hospitality design, brochures & catalogues, 
                    restaurant menu, business cards, stationary, posters & flyers, packaging design 
                </p>
            </div>
        </div>

    </div>
<!-- end third section -->

<!-- fourth section -->
    <div class="container-fluid fourth-section-services-1 bg-white"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
        <div class="row fourth-bg-text">
            <div class="col">
                <h2
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >We love to work with</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid fourth-section-services-2 bg-white"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
        <div class="row py-4">
            <div class="col-12 col-md-5">
                <hr class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                        Start-up
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <hr class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Having started ourselves at some point, we know about the hazzle it can be. We offer special packages for young companies 
                    to make sure you can present your ideas to the world.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col col-md-5">
                <hr class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Freelencers
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <hr class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    We love to work with artists, photographers, coaches, gym & yoga teachers, and everyone who wants to push your own business forward.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col col-md-5">
                <hr class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    Hospitality businesses
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <hr class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Let it be a re-design of your menu, a new logo or a full branding for your bar, restaurant or boutique hotel. 
                    We are happy to support you with all of it, so that others can enjoy your amazing offer too.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <hr class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                 <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    S/M companies
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <hr class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    Small and medium sized companies are the backbone of every economy. 
                    Focus on your core business, we'll take care to get your companies appearance on the next level.
                </p>
            </div>
        </div>
        <div class="row py-4" data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
            <div class="col-12 col-md-5">
                <hr class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                Retail businesses
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <hr class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                ></hr>
                <p class="pt-sm-5"
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    We've learned from the best how to present your offer the best way throughout all sales channels, online and offline.
                </p>
            </div>
        </div>

    </div>
<!-- end fourth section -->

<!-- fifth section -->
    <div class="container fifth-section-services"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <h2 class="white py-5">Meet the founders</h2>
        <img src="images/founders.jpg" class="img-fluid"/>
        <p class="white py-5">Dragan and Chris</p>
    </div>
<!-- end fifth section -->

<!-- footer -->
    {% include 'footer.twig' with {'boja' : '#79B2C6'}  %}
<!-- end footer -->
</div>
<script>
    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            var clas = (element && element.dataset)?element.dataset.menu:null;
            console.log('menu class:', clas, element.id, name, direction )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
        //, skrollrBody:'anchor'
    });
</script>


{% endblock %}

